<!--The whole content below can be removed with the new code.-->
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="overlay skew-part" [class.active]="isActive">
            <div class="stars"></div>
            <div class="stars2"></div>
            <div class="stars3"></div>
        </div>
        <header>
            <a href="/" class="logo">Teomedia.dk</a>
        </header>
        <main>
            <h1 property="headline">Hallo Player...</h1>
            <h2 property="intro">I do not think that I am particularly a geek, but I love working with websites and can spend many hours on it. If something interests me, I can be very stubborn and will not give up if I encounter problems.</h2>
            <nav>
                <ul>
                    <li><a href="#" (click)="infomationClick(e)" [class.active]="isActive" class="btn btn-info">More Informations</a></li>
                    <li><a href="#" (click)="contactClick(e)" class="btn btn-contact opencontact">Contact me</a></li>
                </ul>
            </nav>
        </main>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <article class="row" [class.active]="isActive">
            <div (click)="infomationClick()" class="close"><img src="assets/images/icon-close-128.png" alt=""></div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="about">
                    <h2 property="name">TEOMEDIA</h2>
                    <p property="description">Hallo my name is Teodor Moquist. I'm a 20 years old front-end developer, there works in a company called valtech in copenhagen. I always looking forward to get a project, where i can work hard and learn new things, and that why i work at valtech. They give me the possibility to learn new things everyday.</p>
                    <p property="description2">As person im positive, accommodating, energetic and is always ready to give help. In addition im responsible, and will always take projects seriously. But still joking around, so we dont get any bad atmosphere</p>
                </div>
                <div class="team">
                    <h2 property="info-headline">ME</h2>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <img src="assets/images/img_92d29.jpg" alt="">
                            <h5 property="users-name">Teodor Moquist</h5>
                            <p property="role">Front-end Developer</p>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                            <ul>
                                <li>
                                    <div><img src="assets/images/HTML5_logo_and_wordmark.svg.png" alt=""></div>
                                    <h6>MARKUP<span property="markup">HTML5</span></h6>
                                </li>
                                <li>
                                    <div><img src="assets/images/css3-logo.png" alt=""></div>
                                    <h6>STYLING <span property="styling">CSS3, SMACSS, SCSS/SASS, Compass</span></h6>
                                </li>
                                <li>
                                    <div><img src="assets/images/139426.png" alt=""></div>
                                    <h6>JAVASCRIPT <span property="javascript">Javascript, Jquery, AngularJS, ActionScript 3, MeanJS, Ionic</span></h6>
                                </li>
                                <li>
                                    <div><img src="assets/images/logo-mysql-170x170_400x400.png" alt=""></div>
                                    <h6>BACK-END <span property="backend">PHP, MYSQL, .NET</span></h6>
                                </li>
                                <li>
                                    <div><img src="assets/images/yeti.svg" alt=""></div>
                                    <h6>GRID <span property="grid">Foundation, Bootstrap, Marterialize</span></h6>
                                </li>
                                <li>
                                    <div><img src="assets/images/tool-yo.3dcc437449.png" alt=""></div>
                                    <h6>EXTRA <span property="extra">Bower, GruntJS, GulpJS, Yeoman</span></h6>
                                </li>
                                <li>
                                    <div><img src="assets/images/umbraco_logo1.png" alt=""></div>
                                    <h6>CMS <span property="cms">Wordpress, Umbraco, Webspell, Prestashop, MeanJS</span></h6>
                                </li>
                                <li>
                                    <div><img src="assets/images/photo_1389274155_quiz_image_temp.png" alt=""></div>
                                    <h6>ADOBE <span property="adobe">Photoshop, Illustrator, Flash, Indesign, After Effects, Premiere</span></h6>
                                </li>
                                <li>
                                    <div><img src="assets/images/maya_autodesk_logo_vinyl_by_vacachonda-d6lmg2r.png" alt=""></div>
                                    <h6>3D & Video<span property="3d-video">AutoDesk Maya, Sony Vegas Pro</span></h6>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="work">
                    <h2>WORK</h2>
                    <div class="project" property="project-work" mv-multiple>
                        <img property="project-work-image" src="assets/images/zet.jpg" alt="">
                        <p><span property="project-work-name">ZET eSports</span> <i property="project-work-role">Design</i></p>
                    </div>
                </div>
                <div class="work">
                    <h2>JOBS</h2>
                    <div class="project" property="project-jobs" mv-multiple>
                        <img property="project-jobs-image" src="assets/images/dediweb.png" alt="">
                        <p><span property="project-jobs-role">ZET eSports</span> <i property="project-jobs-name">Design</i></p>
                    </div>
                    <h2>ESPORT JOBS</h2>
                    <div class="project" property="project-ejobs" mv-multiple>
                        <img property="project-ejobs-image" src="assets/images/dediweb.png" alt="">
                        <p><span property="project-ejobs-role">ZET eSports</span> <i property="project-jobs-name">Design</i></p>
                    </div>
                    <h2>Volunteering</h2>
                    <div class="project" property="project-vjobs" mv-multiple>
                        <img property="project-vjobs-image" src="assets/images/dediweb.png" alt="">
                        <p><span property="project-vjobs-role">ZET eSports</span> <i property="project-vjobs-name">Design</i></p>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>
<div class="contactme" [class.open]="isOpen">
    <div class="header">
        <p>Contact me here</p>
        <span (click)="contactClick(e)"></span>
    </div>
    <div class="content">
        <a property="contact-social-linkedin" target="_blank" style="background: #008cc9;" class="btn btn-contact" href="https://www.linkedin.com/in/teodor-moquist-31393498">Linkedin</a>
        <a property="contact-social-skype" target="_blank" style="background: #0078CA;" class="btn btn-contact" href="skype:teowow11">Skype</a>
        <a property="contact-social-facebook" target="_blank" style="background: #3a5795;" class="btn btn-contact" href="https://www.facebook.com/teomedia.dk">Facebook</a>
        <a property="contact-social-steam" target="_blank" style="background: #2f2f2f;" class="btn btn-contact" href="http://steamcommunity.com/id/321412">Steam</a>
    </div>
</div>
