/* You can add global styles to this file, and also import other style files */

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import 'assets/styles/mixins',
		'assets/styles/stars';

$desktop: 1025px;
$tablet: 992px;
$mobile: 640px;

.row {
	max-width: 100%;

	@include media($tablet) {
		margin: 0;
	}
}

.skew-part {
	transform: skew(-25deg, 0deg);

	&.active {
		transform: skew(0deg, 0deg);
	}

	@include media($tablet) {
		transform: skew(0deg, 0deg);
	}
}

.overlay {
	z-index: 1;
	position: fixed;
	overflow: hidden;
	top: 0;
	left: -50%;
	background: rgba(50,58,69,0.9);
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
	-moz-transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
	-ms-transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
	-o-transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
	transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
	border-right: 1px solid #15171e;

	@include media($tablet) {
		left: 0;
		position: static;
	}
}

header,
main { 
	position: relative;
	z-index: 99;
}

.logo {
	position: relative;
	display: block;
	text-indent: -999em;
	background: url('assets/images/logo.png') no-repeat;
	background-size: cover;
	width: 100px;
	height: 100px;
	margin: 5% 0 0 10%;

	@include media($tablet) {
		background: url('assets/images/logoblack.png') no-repeat;
		background-size: cover;
		margin: 5% 0 0;
		width: 385px;
	}
}

main {
	position:absolute;
	left:0;
	padding:0;
	top:50vh;
	width:100%;
	padding:0 10%;
	// @include transition(all 0.3s cubic-bezier(0, 0, 0.58, 1));
	-webkit-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	-o-transform:translateY(-50%);
	transform:translateY(-50%);
	text-align:left;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	opacity:1;
	visibility:visible;

	@include media($tablet) {
		position: static;
		top: auto;
		padding: 0;
		-webkit-transform:translateY(0);
		-moz-transform:translateY(0);
		-ms-transform:translateY(0);
		-o-transform:translateY(0);
		transform:translateY(0);
	}
}

h1 {
	font-size: 40px;
	font-family: Montserrat,"Helvetica Neue","Lucida Grande",Arial,Verdana,sans-serif;
	font-weight: 700;
	color: white;
	@include media($tablet) {
		color: black;
	}
}

h2 {
	font-family: Montserrat,"Helvetica Neue","Lucida Grande",Arial,Verdana,sans-serif;
	color: white;
	font-weight: 400;
	line-height: 1.3em;
	font-size: 22px;
	margin-top: 15px;
	margin-bottom: 30px;

	@include media($tablet) {
		color: black;
	}
}

ul {
	margin: 0;
	padding:0;
	list-style-type: none;

	li {
		display: inline-block;
	}
}

.btn {
	background-color: transparent;
	font-weight: 600;
	padding: 0.7em 2em;
	color: white;
	margin-right: 10px;
	border: 2px solid white;
	display: block;
	float: left;
	font-family: Montserrat,"Helvetica Neue","Lucida Grande",Arial,Verdana,sans-serif;
	-webkit-transition: all 0.2s cubic-bezier(0.7, 0, 0.3, 1);
	-moz-transition: all 0.2s cubic-bezier(0.7, 0, 0.3, 1);
	-ms-transition: all 0.2s cubic-bezier(0.7, 0, 0.3, 1);
	-o-transition: all 0.2s cubic-bezier(0.7, 0, 0.3, 1);
	transition: all 0.2s cubic-bezier(0.7, 0, 0.3, 1);

	&:hover,
	&:focus,
	&.active {
		border-color: #31b0d5;
		background-color: #31b0d5;
		color: white;
	}
}

.btn-contact {
	background-color: #f36;
	border-color: #f36;

	@include media($mobile) {
		width: 100%;
		margin: 0;
	}
}

.btn-info {
	@include media($mobile) {
		display: none;
	}
}

article {
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100vh;
	background: white;
	z-index: 99;
	border-left: 5px solid #f36;
	overflow-y: scroll;
	-webkit-transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
	-moz-transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
	-ms-transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
	-o-transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
	transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
	-webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;

	&.active {
		opacity: 1;
	}

	.close {
		width: 30px;
		height: 30px;
		border-radius: 100%;
		border: 1px solid black;
		position: absolute;
		right: 50px;
		top: 20px;
		z-index: 99;

		img {
			width: 100%;
			padding: 5px;
		}

		@include media($tablet) {
			display: none;
		}
	}
	@include media($tablet) {
		opacity: 1;
		position: static;
		overflow-y: visible;
		border-left: none;
	}
}

.about,
.team,
.work {
	margin: 100px 50px 50px;
	padding: 0 0 50px;
	border-bottom: 1px solid #f2f3f7;

	h2 {
		font-weight: bold;
		font-size: 30px;
		color: black;
		text-transform: uppercase;
	}
	p {
		font-weight: bold;
		color: #ccc;
		font-size: 12px;
		padding-right: 50px;
	}

	@include media($tablet) {
		margin: 0;
		padding: 0;
	}
}

.team {
	margin-top: 20px;
	h5 {
		font-weight: bold;
		margin-bottom: 5px;
	}
	img {
		width: 100%;
	}
	li {
		display: inline-block;
		margin-bottom: 15px;
		width: 50%;
		float: left;
		@include media(1600px) {
			width: 100%;
		}
		div {
			border-radius: 100%;
			border: 3px solid #31b0d5;
			float: left;

			img {
				padding: 15px;
				width: 70px;
				height: 70px;
			}
		}
		h6 {
			position: relative;
			float: left;
			margin: 0;
			color: #31b0d5;
			font-size: 20px;
			font-weight: bold;
			margin-left: 10px;
			line-height: 55px;

			span {
				display: block;
				width: 130px;
				position: absolute;
				top: 40px;
				left: 0;
				font-size: 11px;
				line-height: 13px;
				color: #ccc;
			}
		}

		&:nth-child(3n+1) {
			margin-left: 0;
		}
		@include media($desktop) {
			margin-left: 0;
		}
		@include media($tablet) {
			margin-left: 0;
			width: 45%;
		}
		@include media($mobile) {
			margin-left: 0px;
			width: 100%;
		}
	}
}

.work {
	float: left;
	margin-top: 20px;

	h2 {
		clear: both;
		margin: 0 0 15px;
		padding: 30px 0 0;
	}

	.project {
		position: relative;
		float: left;
		width: 33.3%;
		padding: 30px;
		text-align: center;
		overflow: hidden;
		-webkit-transition: padding 0.2s cubic-bezier(0.7, 0, 0.3, 1);
		-moz-transition: padding 0.2s cubic-bezier(0.7, 0, 0.3, 1);
		-ms-transition: padding 0.2s cubic-bezier(0.7, 0, 0.3, 1);
		-o-transition: padding 0.2s cubic-bezier(0.7, 0, 0.3, 1);
		transition: padding 0.2s cubic-bezier(0.7, 0, 0.3, 1);

		&.edit-mode {
			img {
				margin-bottom: 20px;
			}
			p {
				opacity: 1;
				position: static;
				background: none;
				color: black;
				line-height: inherit;

				span {
					display: block;
					position: static;
				}
				i {
					font-style: normal;
				}
			}
		}

		img {
			max-width: 100%;
		}

		p {
			opacity: 0;
			-webkit-transition: opacity 0.2s cubic-bezier(0.7, 0, 0.3, 1);
			-moz-transition: opacity 0.2s cubic-bezier(0.7, 0, 0.3, 1);
			-ms-transition: opacity 0.2s cubic-bezier(0.7, 0, 0.3, 1);
			-o-transition: opacity 0.2s cubic-bezier(0.7, 0, 0.3, 1);
			transition: opacity 0.2s cubic-bezier(0.7, 0, 0.3, 1);
			position: absolute;
			left: 0;
			top: 0;
			text-align: center;
			line-height: 166px;
			width: 100%;
			height: 100%;
			color: white;
			background: rgba(0,0,0,0.7);
			font-size: 20px;
			font-weight: bold;
			text-transform: uppercase;

			span {
				position: absolute;
				font-size: 12px;
				color: #ccc;
				top: -20px;
			}
		}

		&:nth-child(2n+0) {
			background: #eaeaea;
		}
		&:nth-child(2n+1) {
			background: #fafafa;
		}

		&:hover {
			p {
				opacity: 1;
			}
		}
		@include media($desktop) {
			width: 100%;
		}
		@include media($tablet) {
			width: 50%;
		}
		@include media($mobile) {
			width: 100%;
		}
	}
}

footer {
	position: absolute;
	bottom: 30px;
	left: 0;
	width: 50%;

	ul {
		position: relative;
		z-index: 99;

		li {
			font-size: 20px;
			margin: 0 10px;

			a {
				-webkit-transition: all 0.2s cubic-bezier(0.7, 0, 0.3, 1);
				-moz-transition: all 0.2s cubic-bezier(0.7, 0, 0.3, 1);
				-ms-transition: all 0.2s cubic-bezier(0.7, 0, 0.3, 1);
				-o-transition: all 0.2s cubic-bezier(0.7, 0, 0.3, 1);
				transition: all 0.2s cubic-bezier(0.7, 0, 0.3, 1);
			}

			&:first-child {
				padding: 0 0 0 10%;
			}	
		}
	}
	@include media($tablet) {
		display: none;
	}
}

.contactme {
	display: none;
	width: 25%;
	background-color: white;
	position: fixed;
	z-index: 99;
	left: 50%;
	top: 30%;
	-ms-transform: translate(-50%,-50%);
 	-webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  -webkit-box-shadow: 0px 0px 38px 0px rgba(0,0,0,0.50);
	-moz-box-shadow: 0px 0px 38px 0px rgba(0,0,0,0.50);
	box-shadow: 0px 0px 38px 0px rgba(0,0,0,0.50);
	-webkit-transition: opacity 0.2s cubic-bezier(0.7, 0, 0.3, 1);
	-moz-transition: opacity 0.2s cubic-bezier(0.7, 0, 0.3, 1);
	-ms-transition: opacity 0.2s cubic-bezier(0.7, 0, 0.3, 1);
	-o-transition: opacity 0.2s cubic-bezier(0.7, 0, 0.3, 1);
	transition: opacity 0.2s cubic-bezier(0.7, 0, 0.3, 1);


  .header {
  	width: 100%;
  	background: #5bc0de;

  	p {
  		line-height: 45px;
  		padding: 0 45px 0 30px;
  		color: white;
  		font-family: Montserrat,"Helvetica Neue","Lucida Grande",Arial,Verdana,sans-serif;
  		text-transform: uppercase;
  	}
  	span {
  		position: absolute;
			display: block;
			height: 45px;
			width: 45px;
			background-color: #46b8da;
			right: 0;
			top: 0;
			padding: 5px;
			background-image: url('assets/images/icon-close-128.png');
			background-repeat: no-repeat;
			background-size: 30px 30px;
			background-position: 50% 50%;
		}
  }

  .content {
  	width: 100%;
  	padding: 30px;
  	float: left;

  	.btn {
  		width: 100%;
  		margin-bottom: 15px;
  		border: 0;
  	}
  }
  &.open {
		display: block;
	}
	@include media($tablet) {
		width: 75%;
	}
	@include media($mobile) {
		top: 50%;
	}
}

.mv-bar.mv-ui {
	position: fixed;
	right: 0;
	z-index: 99999;
	border-radius: 0 !important;
	background-image: url('assets/images/logo.png');
}

.mv-item-bar.mv-ui {
	position: static;
}

img.mv-empty {
	width: 202px;
	height: 101px;
	background-color: red;
}